@import '../../app.component.scss';

.footer{
    position: relative;
    z-index: 2;
    .map {
        
        @media screen and (max-width: 992px) {
            height: 350px;        
        }
      }
      .redes a:hover{
          background: white;
      }
}




 